.stats-wrapper{

    background:white;

    padding:30px;

    border-radius:22px;

    box-shadow:0 10px 35px rgba(0,0,0,.06);

}

.stats-heading{

    text-align:center;

    color:#1e3a8a;

    margin-bottom:30px;

    font-size:34px;

}

.stats-grid{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:25px;

}

@media(max-width:1100px){

    .stats-grid{

        grid-template-columns:repeat(2,1fr);

    }

}

@media(max-width:700px){

    .stats-grid{

        grid-template-columns:1fr;

    }

}
@media(max-width:1200px){

    .stats-grid{

        grid-template-columns:repeat(2,1fr);

    }

}

@media(max-width:650px){

    .stats-grid{

        grid-template-columns:1fr;

    }

}